.header-container {
display: flex;
height: 50px;
padding: var(--spacing-smail);
background-color: #dfd9d9;
}

.header-counter {
margin-left: auto;
padding-right: var(--spacing-smail);
font-weight: bold;
cursor: pointer;
}